body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: white;

    background: steelblue;
    padding: 21px 15px 10px 25px;
}

.chart {
    display: flex;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.controls {
    background: rgb(240, 240, 240);
    display: flex;
    gap: 400px;
    padding: 30px;
}

.item {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-style: italic;
}

.fade {
    opacity: 0.5;
}

.Select {
    padding: 10px;
}